<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <!-- by default each bean is a singleton -->
    <bean id="person" class="com.xcafe.spring.test.Person" init-method="onInit" destroy-method="onDestroy">
        <constructor-arg value="10" index="0" name="id" type="int"></constructor-arg>
        <constructor-arg value="Richard" index="1" name="name" type="java.lang.String"></constructor-arg>

        <property name="age" value="21"></property>
        <property name="address" ref="address"></property>
    </bean>

    <bean id="address" class="com.xcafe.spring.test.Address" scope="prototype">
        <constructor-arg name="street" value="Random"></constructor-arg>
        <constructor-arg name="postcode"  value="60-221"></constructor-arg>

        <property name="houseNumber" value="36"></property>
    </bean>

</beans>
