<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <bean id="organizer" class="com.xcafe.spring.test.Organizer">
        <constructor-arg name="name" value="My today's tasks"></constructor-arg>
        <constructor-arg name="tasks">
            <list>
                <value>Shopping</value>
                <value>Dance classes</value>
                <value>Meeting with Mark</value>
                <value>Meeting with Mark</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="person" class="com.xcafe.spring.test.Person"
          c:_0="1" c:_1="Richard" p:age="21" p:address-ref="address"
          init-method="onInit" destroy-method="onDestroy"
          factory-method="getInstance">
    </bean>

    <bean id="person2" class="com.xcafe.spring.test.Person"
          c:name="Sam" c:id="2" p:age="55" p:address-ref="address"
          init-method="onInit" destroy-method="onDestroy"
          factory-bean="personFactory" factory-method="createPerson">
    </bean>


    <bean id="personFactory" class="com.xcafe.spring.test.PersonFactory"></bean>


    <bean id="address" class="com.xcafe.spring.test.Address" scope="prototype">
        <constructor-arg name="street" value="Random"></constructor-arg>
        <constructor-arg name="postcode"  value="60-221"></constructor-arg>

        <property name="houseNumber" value="36"></property>
    </bean>

</beans>
